<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Resistência</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Treino de Resistência</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Duração do Treino</ion-label>
      <br>
      <ion-input type="text" placeholder="Digite a duração (minutos)"></ion-input>
    </ion-item>
    <ion-item>
      <br>
      <ion-label position="stacked">Intensidade</ion-label>
      <ion-select placeholder="Selecione a intensidade">
        <ion-select-option value="baixa">Baixa</ion-select-option>
        <ion-select-option value="media">Média</ion-select-option>
        <ion-select-option value="alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <br>
      <ion-label position="stacked">Exercícios</ion-label>
      <br>

      <ion-textarea placeholder="Liste os exercícios"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary">Iniciar Treino</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="danger">Parar Treino</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>