<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/configuracoes">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre o Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Introdução</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Este aplicativo foi desenvolvido para facilitar o aprendizado e a prática dos princípios de engenharia de software. 
        Com um enfoque em protótipos e requisitos, nosso objetivo é oferecer uma ferramenta que auxilie na compreensão dos conceitos fundamentais da disciplina.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Intuito do Aplicativo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Auxiliar estudantes e profissionais no entendimento dos processos de engenharia de software.</li>
        <li>Facilitar a criação de protótipos para validação de ideias e conceitos.</li>
        <li>Definir e gerenciar requisitos funcionais e não funcionais de projetos.</li>
        <li>Oferecer recursos de aprendizado sobre linguagens de programação e suas aplicações.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Funcionalidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>O aplicativo inclui as seguintes funcionalidades:</p>
      <ul>
        <li>Criação de protótipos interativos.</li>
        <li>Gerenciamento de requisitos de software.</li>
        <li>Ferramentas para análise de requisitos funcionais e não funcionais.</li>
        <li>Guias e recursos sobre linguagens de programação, como Java, Python e JavaScript.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Considerações Finais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        O objetivo deste aplicativo é proporcionar um ambiente de aprendizado dinâmico e eficaz, que suporte a formação de habilidades essenciais na área de engenharia de software. 
        Esperamos que este recurso ajude você a se tornar um profissional mais competente e confiante na sua carreira.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
