/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 // global.scss

// Definindo a cor vermelha personalizada
$custom-red: #157ef7;

// Aplicando a cor vermelha ao texto e itens do sidemenu
ion-menu {
  --ion-background-color: #111111; /* Cor de fundo do sidemenu */
}

ion-menu ion-content {
  --background: #0d0e0d; /* Cor de fundo do conteúdo do sidemenu */
}

ion-menu ion-list ion-item {
  color: $custom-red; /* Cor do texto dos itens do menu */
}

ion-menu ion-header {
  --background: #233140; /* Cor de fundo do cabeçalho do sidemenu */
}

ion-menu ion-title {
  color: $custom-red; /* Cor do texto do título do cabeçalho do sidemenu */
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";



